/* font-family: 'Playfair Display', serif;
font-family: "Poppins", sans-serif; */

:root {
  --secondary-color: #96bc67;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #6b0a84;
  --hero-color: black;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h1,
p,
h2 {
  color: #6b0a84;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  line-height: 2;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.text-center {
  font-size: 48px;
  color: var(--branding-color);
}
.yogurt {
  font-size: 64px;
  color: var(--branding-color);
}
.outline {
  font-weight: normal;
  line-height: 30px;
  font-size: 16px;
  color: var(--branding-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 4px;
}

.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0px;
    text-align: center;
  }
}
.about-section {
  padding: 160px 20px
}
.about-section h2 {
  font-family: var(--heading-font-family);
}